.cdx-icon {
    display: inline-block;
    vertical-align: middle;
    flex-shrink: 0;
    margin-right: 0.5rem;
}

.cdx-chevron {
    margin-right: 0;
    margin-left: auto;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%) rotate(0deg);
    transition: transform 200ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cdx-chevron--open {
    transform: translateY(-50%) rotate(90deg);
}
