screenshots/
tsconfig.json
rollup/
test/
src-refactored/
coverage
coverage-refactoring
.nyc_output
.tmp-compodoc-test/
tools
.travis.yml
tslint.json
codecov.yml
appveyor.yml
doc
documentation
docs
package.json.old
.github
CONTRIBUTING.md
DONTUPDATE.md
.prettierrc
CNAME
renovaterc-in-github-folder.txt
.editorconfig
.eslintrc.json
.madgerc
.ncurc.json
.nycrc
.nycrc-refactoring
.prettierignore
.sauceignore
TODOS.md
playwright-report/index.html
playwright.config.ts
sonar-project.properties
test-results/.last-run.json
test-typedoc/coverage.html
testCoverage/coverage.html
tsconfig.test.json
.cursor
.specstory
.tmp-compodoc-test-cli-coverage-*
angularexpo-tests
schematics
test-public-api-*
.cursorindexingignore