{
    "extends": "@istanbuljs/nyc-config-typescript",
    "exclude": ["**/*.spec.js", "test/**", "bin/**"],
    "include": ["dist/**/*.js", "src/**/*.ts"],
    "reporter": ["json", "html", "text-summary", "lcov"],
    "all": false,
    "sourceMap": true,
    "instrument": true,
    "produceSourceMap": true
}
