{
    "extends": "@istanbuljs/nyc-config-typescript",
    "exclude": ["**/*.spec.ts", "test/**", "bin/**"],
    "include": ["src/**/*.ts"],
    "reporter": ["json", "html", "text-summary", "lcov"],
    "all": true
}
